* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    line-height: 1.5;
}

.background {
    background-image: url(images/sky.jpg);
    background-size: auto;
    animation: fadeIn 3s ease-in-out 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

/*Top bar styling*/

.top-bar-container {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 2000px;
    background: linear-gradient(to bottom, rgb(31, 112, 204) 10%, rgba(117, 182, 255, 0) 100%);
    padding: 1rem;
}

.top-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.topbar a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    padding: 1.2rem 1rem;
}

.logo {
    padding-right: 75rem;
}

/*Header styling*/

.two-column-header {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 20px;
}

.header-column-left {
    flex-basis: 58%;
    text-align: center;
}

.header-column-right {
    text-align: center;
    flex-basis: 58%;
}

.header-column-right a {
    color: rgb(117, 182, 255);
}

.header-column-left h1 {
    padding-top: 100px;
    font-size: 6.5rem;
    line-height: 1;
}

.header-column-left p {
    font-size: 3rem;
}

/*Image slideshow styling

.slides {
    display: none;
}
*/
img {
    vertical-align: middle;
}

.slideshow-container {
    margin: auto;
    margin-right: 50px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

/*Searchbar section styling*/

.searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    
    height: 300px;
    font-size: 3.5rem;
}

.searchbar-container div {
    text-align: center;
}

.searchbar {
    height: 48px;
    max-width: 561px;
    position: relative;
    padding-left: 150px;
}

.searchbar input {
    height: 100%;
    width: 100%;
    border: 2px solid black;
    border-radius: 24px;
    padding-right: 52px;
    padding-left: 12px;
}

.searchbar svg {
    height: 36px;
    width: auto;
    position: absolute;
    right: -52px;
    top: 38px;
    bottom: 38px;
}