* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    line-height: 1.5;
}

.background {
    background-image: url(images/sky.jpg);
    background-repeat: repeat-x;
    background-size: auto;
    background-position: 0 -200;
    animation: fadeIn 3s ease-in-out 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

/*Top bar styling*/

.top-bar-container {
    top: 0;
    left: 0;
    z-index: 1000;
    padding-top: 100px;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 10%, rgba(117, 182, 255, 0) 100%);
    padding: 1rem;
}

.top-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.sign-in {
    border: 3px solid rgb(20, 159, 252);
    border-radius: 20px;
    background-color: rgb(82, 163, 255);
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    padding-top: -25px;
}

.sign-in:hover {
    color: rgb(82, 163, 255);
    background-color: white;
}

.logo {
    padding-right: 75rem;
    margin-top: -10px;
    height: 150px;
    width: auto;
}

/*Header styling*/

.two-column-header {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 20px;
}

.header-column-left {
    flex-basis: 58%;
    text-align: center;
}

.header-column-right {
    text-align: center;
    flex-basis: 58%;
}

.header-column-right a {
    color: rgb(117, 182, 255);
}

.header-column-left h1 {
    padding-top: 100px;
    font-size: 6.5rem;
    line-height: 1;
}

.header-column-left p {
    font-size: 3rem;
}

/*Image slideshow styling

.slides {
    display: none;
}
*/
img {
    vertical-align: middle;
}

.slideshow-container {
    margin: auto;
    margin-right: 50px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

/*Searchbar section styling*/

.searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 200px;
    
    height: 300px;
    font-size: 3.5rem;
}

.searchbar-container div {
    text-align: center;
}

.searchbar {
    height: 48px;
    max-width: 561px;
    position: relative;
    padding-left: 150px;
}

.searchbar input {
    height: 100%;
    width: 100%;
    border: 2px solid black;
    border-radius: 24px;
    padding-right: 52px;
    padding-left: 12px;
}

.searchbar svg {
    height: 36px;
    width: auto;
    position: absolute;
    right: -52px;
    top: 38px;
    bottom: 38px;
}

/*Footer section styling*/

.footer-container {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    background: #ffffff;
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 60%, rgba(255, 102, 102, 0) 100%);
}

footer {
    font-size: medium;
    margin-left: 100px;
}